@import "../../assets/styles/main";

.input {
  position: relative;

  width: 100%;
  @include fixedHeight(48px);
  background-color: #0F2234;

  &__field {
    position: relative;
    z-index: 1;

    padding: 0 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    @include border(solid, #6FBAF8, 8px, 2px);

    color: #ffffff;
  }

  &__placeholder {
    @include position(absolute, $top: 15px, $left: 20px);

    color: #4c81a9;
  }
}