@import "../../assets/styles/main";

.button {
  width: 100%;
  @include fixedHeight(48px);
  background-color: #75E3B2;
  border-radius: 8px;

  &__text {
    font-weight: 600;
    font-size: 20px;
    color: #04121F;
  }
}