@import "./src/assets/styles/main";

.todo {
  padding: 8px 8px;
  width: 100%;
  min-height: 52px;
  background-color: #0F2234;
  @include border(solid, #6FBAF8, 8px, (1px 0 1px 0));

  @include flexible(center, space-between, $gap: 16px);

  &__description {
    max-width: 100%;
    height: 100%;

    hyphens: auto;

    @include flexible(flex-start, flex-start, column, $gap: 8px);
  }

  &__delete-button {
    @include fixedWidth(48px);
    @include fixedHeight(48px);
  }
}