@import "./src/assets/styles/main";

.index-page {
  padding: 20px;

  @include flexible(center, flex-start, column, $gap: 16px);

  &__header {
    padding: 20px;
    background-color: #04121F;

    @include flexible(center, center, column, $gap: 8px);
  }

  &__footer {
    padding: 20px;
    background-color: #04121F;
  }
}