@import "../assets/styles/main";

.page-layout {
  @include position(fixed, 0, 0, 0, 0);

  overflow: hidden;

  @include flexible(stretch, space-between, $fd: column);

  &__header {
    min-height: min-content;
  }

  &__content {
    position: relative;

    height: 100%;
    max-height: 100%;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__footer {
    min-height: min-content;
  }
}
